@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


body {
    background-image: url(https://t3.ftcdn.net/jpg/05/25/15/34/360_F_525153494_4iIO8GYM1SPmfjw0x6mxqWrD2fmHfIIK.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #FCC802;
}

body * {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 160%;
}

header {
    color: black;
    text-align: center;
}

 h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
 }

 p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
 }

div {
    text-align: center;
    padding: 8px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.096);
}

img {
    width: 40%;
    border-radius: 50%;
}

img:hover{
    transform: scale(1.03);
}

footer {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}
